{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<!-- Display Blog posts -->
{# <div class="container">
            <!-- Post preview 1-->
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">(Titile of 1st post)</h2>
                </a>
                <p class="post-meta">
                    Posted on (date)
                </p>
            </div>
            <!-- Divider-->
            <hr>
            <!-- Post preview 2-->
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">(Titile of 2nd post)</h2>
                </a>
                <p class="post-meta">
                    Posted on (date)
                </p>
            </div> #}
    <table class="table tablestriped">
        <thead>
            <tr>
                <th class="text-start">Title</th>
                <th class="text-start">Post</th>
                <th class="text-end">Created on</th>
            </tr>
        </thead>
       <tbody>
        {% for row in post %}
        <div class="container">
        <!-- Post preview 1-->
            <div class="post-preview">
                <tr>
                    <td class="text-start">{{row.title}}</td>
                    <td class="text-start">{{row.body}}</td>
                    <td class="text-end">{{row.created}}</td>
                </tr>
            </div>
        </div>
    </tbody>
    {% endfor %}

{% endblock %}