{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<!-- Display Blog posts -->
{# <div class="container">
            <!-- Post preview 1-->
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">(Titile of 1st post)</h2>
                </a>
                <p class="post-meta">
                    Posted on (date)
                </p>
            </div>
            <!-- Divider-->
            <hr>
            <!-- Post preview 2-->
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">(Titile of 2nd post)</h2>
                </a>
                <p class="post-meta">
                    Posted on (date)
                </p>
            </div> #}

    {% for row in post %}
    <div class="container">
    <!-- Post preview 1-->
        <div class="post-preview">
            <h2 class="post-title">{{post.title}}</h2>
            <p class="post-body">{{post.body}}</p>
            <p class="post-meta">{{post.created}}</p>
        </div>
    </div>
    {% endfor %}

{% endblock %}