{% extends "layout.html" %}

{% block title %}
    Edit Post
{% endblock %}

{% block header %}
<h1 class="display-4 font-weight-bold">Edit This Post</h1>
<p class="font-italic mb-0">That's not what I meant to say ... </p>
{% endblock %}

{% block main %}


{% for row in post %}
<form action="/edit/{{row.post_id}}" method="post">
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="title" id="title" value="{{row.title}}">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="body" id="body" value="{{row.body}}">
    </div>
    <button class="btn btn-outline-success" type="submit">Update</button>
</form>
{% endfor %}


{% endblock %}