{% extends "layout.html" %}

{% block title %}
    Edit Post
{% endblock %}

{% block main %}

<h2>Edit This Post</h2>

<form action="/edit" method="post">
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="title" id="title" value={{post.title}}>
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="body" id="body" value={{post.body}}>
    </div>
    <button class="btn btn-primary" type="submit">Update</button>
</form>


{% endblock %}