{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block header %}
<h1 class="display-4 font-weight-bold">Hi there.</h1>
<p class="font-italic mb-0">Welcome to Yale Tree Hole, a forum without memories.</p>
{% endblock %}


{% block main %}
<div>
    <p>Anything you post or respond to here will be automatically deleted after 24 hours.</p>
    <p>We hope you will feel safe to speak your mind here. We hope you find here a place of comfort and a source of support. This means we will need YOU to help create that environment for everyone. So, we ask you to exercise your common sense when posting/replying, specifically:</p>
    <p>Don’t say things you wouldn’t want to hear being said to you. </p>
    <p>Don’t post content that you know will get you/anyone else into legal trouble. </p>
    <p><h5><em>If you find any disturbing content and want to report it to us, please contact us by reaching out to <a href = "mailto: xinning.shao@yale.edu">Xinning</a>, <a href = "mailto: wenyi.xu@yale.edu">Vivian</a>, or <a href = "mailto: lindsay.chen@yale.edu">Lindsay</a>.</em></h5></p>
    <p><h5><em>If you think you might need professional mental health support, please click <a href="https://yalehealth.yale.edu/directory/departments/mental-health-counseling">here.</a></em></h5></p>
    <img src="https://i.pinimg.com/originals/77/8d/cd/778dcd73456305d6578e972364cd0503.jpg">
    <br>
    <br>
    <a href="/index">
    <button type="button" id="btnclick" class="btn btn-success">Click here if you are ready to enter Yale Tree Hole. </button>
    </a>
</div>


{% endblock %}