{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<!-- Display Blog posts -->
       <tbody>
    {% for row in post %}
    <div class="container">
    <!-- Post preview 1-->
        <div class="post-preview">
            <tr>
                <td class="text-start">{{row.title}}</td>
                <td class="text-start">{{row.post}}</td>
                <td class="text-end">{{row.created}}</td>
            </tr>
        {% for row in post %}
        <div class="container">
        <!-- Post preview 1-->
            <div class="post-preview">
                <tr>
                    <td class="text-start">{{row.title}}</td>
                    <td class="text-start">{{row.post}}</td>
                    <td class="text-end">{{row.created}}</td>
                </tr>
            </div>
        </div>
    </div>
    </tbody>
    {% endfor %}

{% endblock %}