{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<!-- Display Blog posts -->
<div class="container">
    <table class="table tablestriped">
        <thead>
            <tr>
                <th class="text-start">Title</th>
                <th class="text-start">Post</th>
                <th class="text-end">Created on</th>
            </tr>
        </thead>
       <tbody>
        {% for row in post %}
<table class="table tablestriped">
    <thead>
        <tr>
            <th class="text-start">Title</th>
            <th class="text-start">Post</th>
            <th class="text-end">Created on</th>
        </tr>
    </thead>
    {% for row in post %}


{% endblock %}