{% extends "layout.html" %}

{% block title %}
    Seek Help
{% endblock %}

{% block main %}

<p> You can find more professional support here.</p>

<p><a href="https://yalehealth.yale.edu/directory/departments/mental-health-counseling">Yale Mental Health & Counseling</a></p>

<p><a href="https://yalecollege.yale.edu/getting-help/yale-college-community-care">Yale College Community Care</a></p>
<p><a href="https://walden.sites.yale.edu/">Walden Peer Counseling </a><p>

<img src="images/funny-dog.jpg">


{% endblock %}