{% extends "layout.html" %}

{% block title %}
    Seek Help
{% endblock %}

{% block header %}
<h1 class="display-4 font-weight-bold">Seek Help</h1>
<p class="font-italic mb-0">You can find more professional support here.</p>
{% endblock %}

{% block main %}

<p><a href="https://yalehealth.yale.edu/directory/departments/mental-health-counseling">Yale Mental Health & Counseling</a></p>

<p><a href="https://yalecollege.yale.edu/getting-help/yale-college-community-care">Yale College Community Care</a></p>
<p><a href="https://walden.sites.yale.edu/">Walden Peer Counseling </a><p>

{# credit to TA Kelly Chen '23 for helping with display image error #}
<img src={{ url_for("static", filename = "seekhelp.jpg") }} alt="seekhelp">


{% endblock %}