{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<!-- Display Blog posts -->
<div class="container">
            <!-- Post preview 1-->
            {% for post in user_posts %}
            {{}}}
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">(Titile of 1st post)</h2>
                    </a>
                    <p class="post-meta">
                        Posted on (date)
                    </p>
                </div>
                <!-- Divider-->
                <hr>
            {% endfor %}





{% endblock %}
{% extends "layout.html" %}

{% block title %}
    Posts
{% endblock %}

{% block main %}
<div class="col-md-10 col-lg-8 col-xl-7">

</div>
{% endblock %}