{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<!-- Display Blog posts -->
<div class="container">
            <!-- Post preview-->
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">(Titile of first post)</h2>
                </a>
                <p class="post-meta">
                    Posted on (date)
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <a href="post.html"><h2 class="post-title">I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.</h2></a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Start Bootstrap</a>
                    on September 18, 2021
                </p>
            </div>




{% endblock %}
