/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

<<<<<<< HEAD
/* * {
    font-family: Papyrus;
  } */
=======
html, body
{
    padding:0;
    margin:0;
    height:100%;
}

page-container
{
    position: relative;
    min-height:100vh;
}

content-wrap
{
    padding-bottom:2.5rem;
}

footer
{
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    width:100%;
    height:2.5rem;
}
>>>>>>> 777000b3b75659d2cc8328ab161c63bef6c9c27e

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}
